[submodule ".config/kitty/kitty-themes"]
	path = .config/kitty/kitty-themes
	url = https://github.com/dexpota/kitty-themes.git
[submodule ".config/ranger/plugins/ranger_devicons"]
	path = .config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:zie87/nvim_config.git
[submodule ".config/awesome"]
	path = .config/awesome
	url = git@github.com:zie87/awesomewm_config.git
