
Downloads
Dropbox
Games
Workspace

.dfcfg
.gitconfig

.cargo
.rustup
.cache
.luarocks
.mozilla
.npm
.m2

.dropbox-dist
.dropbox

.dir_colors
.dmrc

.forge/forge.log
.forge/achievements
.forge/preferences

.config/manjaro.subversion

.oh-my-zsh
.zsh_history
.zhistory

__pycache__

