.dfcfg
.cargo
Dropbox
Games
Workspace
.rustup
.cache
.luarocks
.dropbox-dist
.dropbox
.oh-my-zsh
.mozilla
.npm
.m2
.config/manjaro
__pycache__
.gitconfig
.subversion
.zsh_history
.zhistory
.dir_colors
.dmrc
.forge/forge.log
.forge/achievements
.forge/preferences
