# dot organisation
.dfcfg
.gitconfig

# default folder
Desktop
Downloads
Dropbox
Games
Documents
Library
Multimedia
Music
Pictures
Templates
Videos
Workspace
snap

# package manager
.go
.conan
.java
.nuget
.mono
.config/mono.addins
.cargo
.rustup
.cache
.luarocks
.npm
.m2
.yarnrc
.yarn
.config/yarn/

# history
.zlua
.bash_history
.zsh_history
.zhistory
.python_history
.zcompdump*
.recently-used

# games
.wine
.wine32
.scummvm
.s25rttr
.renpy
.steam/
.steampath
.steampid
.stratagus/
.forge/forge.log
.forge/achievements
.forge/preferences
.config/gzdoom/
.fheroes2/

# keys
.password-store
.gnupg
.ssh

# 3rd party
.emacs.d
.oh-my-zsh

# caches
.vscode-oss/
.vscode/

# other
.librewolf
.mozilla
.dropbox-dist
.dropbox

.dir_colors
.dmrc

.config/manjaro-hello.json
.config/manjaro.subversion
.config/manjaro

.pki
.nv
.hplip
.config/nwjs/

.wget-hsts

.Xauthority
.ICEauthority

__pycache__
.xsession-errors*

.var


